.listBody {
    width: 458px;
    background-color: rgb(23, 22, 22);
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 5px;
 

}

.listStyle {
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
 
button {
    flex: 1 1 1;
} 